Selecciona los informes a comparar
Selecciona el primer informe a comparar
Selecciona el segundo informe a comparar
Path del primer archivo
Aparecerá el nombre del primer archivo a comparar.
Path del segundo archivo
Aparecerá el nombre del segundo archivo a comparar.
Buscar
Buscar primer archivo a comparar.
Buscar segundo archivo a comparar.
Siguiente
Realizar la comparación.
Atrás
Volver a la pantalla anterior.
Son necesarios dos informes.
Deben seleccionarse dos informes distintos para proceder a la comparación.
Error de datos.
Informes iguales.
Estás intentando comparar el mismo informe.
Error de apertura.
Error al abrir los informes.