Select the reports to compare
Select the first report to compare
Select the second report to compare
Path of the first file
The name of the first file to compare will appear here.
Path of the second file
The name of the first file to compare will appear here.
Search
Search the first report to compare.
Search the second report to compare.
Next
Make the comparison.
Back
Return to the previous screen.
Two reports are necessary.
Two different reports must be selected to proceed with the comparison.
Data error.
Both reports are equal.
You are trying to compare the same report.
File opening error.
Error opening the reports.