Select the type of connection
Using this mode, problems may occur due to the number of requests. Do you want to continue anyways?
Connection confirmation.
Warning
Fields can't be empty.
Empty fields.
Data error.
User mode
Connect to have an increased amount of requests (5000 per hour). An account on the platform is needed.
Disconnected mode
Disconnected mode has a lower amount of request (60 per hour).
Enter the username
Enter the password
Username
Enter the username.
Password
Enter the password.
Next
Go to the next screen.
Back
Return to the previous screen.