Selecciona el tipo de conexión
Usando este modo pueden surgir problemas por el número de peticiones. ¿Quiéres continuar de todas formas?
Confirmación de conexión.
Advertencia
Los campos no pueden estar vacíos.
Campos vacíos.
Error de datos.
Modo usuario
Conectarse para poder tener un mayor número de peticiones (5000 por hora). Se necesita una cuenta en la plataforma.
Modo desconectado
No conectarse, aunque se tendrá un menor número de peticiones (60 por hora).
Introduce el nombre de usuario
Introduce la contraseña
Nombre de usuario
Introduce el nombre de usuario.
Contraseña
Introduce la contraseña.
Siguiente
Ir a la pantalla siguiente.
Atrás
Volver a la pantalla anterior.