Guardado correctamente.
Confirmación de guardado correcto.
Guardado satisfactorio
Error de guardado del informe.
Ha ocurrido un error al guardar el informe.
Error de guardado
Error de apertura del archivo.
El archivo seleccionado no se ha podido abrir correctamente.
Error de apertura
Datos erróneos.
El usuario introducido no es correcto.
Error de usuario
La combinación de usuario-repositorio introducida no es correcta.
Error de cálculo de métricas
Error de apertura de la ayuda.
La ayuda no se ha podido abrir correctamente.
Los datos de la conexión no son correctos.
Error de conexión
Evalua y compara la actividad del repositorio en GitHub
Modo desconectado
Conectado como 