Successfully saved
Confirmation of correct saving.
Successfully saved
Error saving the report.
An error occurred while saving the report.
Error while saving
Error opening the file.
Selected file couldn't be opened correctly.
Opening error
Wrong data.
Entered user is not correct.
User error
User-repository combination entered is not correct.
Metrics calculation error.
Help opening error.
Help couldn't be opened correctly.
Connection data is not correct.
Connection error
Evaluate and compare the activity of the repository on GitHub
Disconnected mode
Connected as 