Empty field.
Field username can't be empty.
Data error.
Repository selection can't be empty.
Select repository
Enter the username
Select a repository or a fork after entering the username
Repositories
Forks
Username
Enter the username to look for the repositories.
Next
Select the repository
Clear the selection of the repository.
Search
Search for the repositories of the username.
Clear the selection of the fork.
Back
Return to the previous screen.