Save the report
Save the report with the results.
Back
Return to the previous screen.
Evaluate with DB
Open the .csv DB to make the comparison.
Save in DB
Save the results of the metrics in the selected DB.
Main screen
Return to the main screen.
Metrics
Show the panel with the results of the metrics.
Issues graph
Show the graph with the issues.
Commit / Month graph
Show the graph with the amount of commit for each month.
Commit / Day graph
Show the graph with the amount of commit for each day.
Commit / Author graph
Show the graph with the amount of commit for each author.
Issues / Author graph
Show the graph with the amount of commit for each author.