Guardar informe
Guardar el informe de resultados.
Atrás
Volver a la pantalla anterior.
Evaluar con BD
Abrir la BD en formato .csv para realizar la evaluación.
Guardar en BD
Guardar el resultado de las métricas en la BD elegida.
Al inicio
Volver a la pantalla inicial.
Métricas
Mostrar panel con los resultados de las métricas.
Gráfico Issues
Mostrar gráfico con los issues.
Gráfico Commits / Mes
Mostrar gráfico con los commits por cada mes.
Gráfico Commits / Día
Mostrar gráfico con los commits por cada día.
Gráfico Cambios / Autor
Mostrar gráfico con los cambios por autor.
Gráfico Issues / Autor
Mostrar gráfico con los issues por autor.